@{
    ViewData["Title"] = "Home Page";
}

  <div class ="text-center">
        <h1 class="display-4">BIENVENIDOS AL CURSO DE PROGRAMACION APLICADA</h1>
        <h1>UES</h1>
         <a href= "https://www.ues.mx/">Universidad Estatal de Sonora</a>
    </div>
